*.o
mfem-release/
mfem-debug/
tmp/
mfemGS
mfemProjector
mfemCheck
meshgenpp
meq
meq-debug
mfemGS-debug
docs/*.aux
docs/*.out
docs/*.log
docs/*.pdf
docs/*.toc
docs/*.b*
sundials-build/
sundials-install/



